\sy\stem_ext/apex/com.android.vndk.v30.apex
\sy\stem_ext/priv-app/Setting\s/Setting\s.apk
vendor/lib64/camera/component\s/com.qti.node.mialgocontrol.\so
cu\st/app/cu\stomized/partner-cn.wp\s.moffice_eng_63/partner-cn.wp\s.moffice_eng_63.apk
cu\st/app/cu\stomized/partner-com.zhiliaoapp.mu\sically_100/partner-com.zhiliaoapp.mu\sically_100.apk
cu\st/app/cu\stomized/partner-com.opera.brow\ser_36/partner-com.opera.brow\ser_36.apk
cu\st/app/cu\stomized/partner-com.alibaba.aliexpre\s\shd_54/partner-com.alibaba.aliexpre\s\shd_54.apk
cu\st/app/cu\stomized/partner-com.agoda.mobile.con\sumer_110/partner-com.agoda.mobile.con\sumer_110.apk
cu\st/app/cu\stomized/partner-com.\s\s.android.ugc.trill_101/partner-com.\s\s.android.ugc.trill_101.apk
product/priv-app/Me\s\sage\s/Me\s\sage\s.apk
product/priv-app/Gallery_T_Global/Gallery_T_Global.apk
product/priv-app/ExtraPhotoGlobal/ExtraPhotoGlobal.apk
product/priv-app/Velvet/Velvet.apk
product/priv-app/Gm\sCore/Gm\sCore.apk
product/app/TrichromeLibrary64/TrichromeLibrary64.apk
product/data-app/MIBrow\serGlobal_removable/MIBrow\serGlobal_removable.apk
product/data-app/MIMediaEditorGlobal/MIMediaEditorGlobal.apk
product/data-app/Opera/Opera.apk
modem.img
